.text3-withbg{
    margin: 10px;
    height: 50px;
    width: 100%;
    background-color: black;
}
.text4-withbg{
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 10px;
    font-weight: 500;
    width: 100%;
    background-color: rgb(204, 204, 204);
}

body .container .main-content{
    display: block;
}